# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Zhuiyi_project\MultiClassify4Torch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
